@page
@model RazorMVC.Pages.Favourites.IndexModel
@{
    
}

<h1>Favourites</h1>

<div class="text-center">
    <component type="@typeof(RazorMVC.Components.Pages.WelcomeMessage)" render-mode="Server" />
</div>
